Difficulty

<form method = "post" action = "difficulty">
<input type = "radio" name = "diff" value = "1">1
<input type = "radio" name = "diff" value = "2">2
<input type = "radio" name = "diff" value = "3">3
<input type = "submit" value = "enter">
</form>