Would you like to play a game

<form method = "post" action = "yes_play">
<input type = "submit" value = "yes">
</form>

<form method = "post" action = "no_play">
<input type = "submit" value = "no">
</form>