<head>
<link rel = "stylesheet" href = "css/style.css">
	<header>
		TIC TAC TOE
	</header>
	
</head>

<body>
	<%=yield%>
</body>

<footer>
<a href = http://www.minedminds.org/> mined minds site</a>
</footer>


