How many Players?
<form method = "post" action = "setup">
<button type = "button" onclick = "one_player()">1</button>
<button type = 'button' onclick = "two_player()">2</button>
<p id = "inputs" >
</p>

</form>


<script src = "/js/functions.js">

</script>