<div id = "back_box">
How many Players?
<form method = "post" action = "setup">
<button id = "input_buttons" type = "button" onclick = "one_player()">1</button>
<button id = "input_buttons" type = 'button' onclick = "two_player()">2</button>
<p id = "inputs" >
</p>

</form>

</div>
<script src = "/js/functions.js">

</script>