header{
	font-size:12vh;
	color:rgb(0, 0, 0);
	text-align:center;
	text-shadow: 0px -2px rgba(255, 115, 0, 0.979);
}

body{
	text-align: center;
	font-size:8vh;
	color:black;
	text-shadow: 0px -2px rgba(255, 115, 0, 0.979);
	align-content: center;
	background-image: url(/images/background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

#big_box{
	
	background-image:url("/images/castle.jpg");
	background-size: 100%,100%;
	background-position: center;
	background-repeat: no-repeat;
	max-width: max-content;
	font-size:3vh;
	color:white;
	background-color: rgba(242, 237, 216,0.36);
	border-style:double;
	border-color:rgb(153, 185, 243);
	padding-left:10%;
	padding-right:10%;
	padding-top:1vh;
	border-radius:3vh;
	margin-left: 31%;
	margin-right: 31%;
	min-width: min-content;
    min-height: min-content;
	max-height: max-content;
	align-self: center;

	
	
}

#box_1{
	padding:4vh;
	text-align:center;
	display: inline-block;
	border-bottom-style:dashed;
	margin-left: 3vh;
}

#box_2{
	
	padding: 4vh;
    text-align: center;
	display: inline-block;
	border-left-style: dashed;
	border-right-style: dashed;
	border-bottom-style:dashed;
}

#box_3{
	padding: 4vh;
    text-align: center;
    display: inline-block;
	border-bottom-style:dashed;
	
}

#box_4{
	padding:4vh;
	text-align: center;
	display:inline-block;
	border-bottom-style:dashed;
	margin-left: 3vh;
}

#box_5{
	padding:4vh;
	text-align: center;
	display: inline-block;
	border-left-style: dashed;
	border-right-style: dashed;
	border-bottom-style:dashed;
}

#box_6{
	padding:4vh;
	text-align: center;
	display: inline-block;
	border-bottom-style:dashed;
}

#box_7{
	padding:4vh;
	text-align: center;
	display:inline-block;
	margin-left: 3vh;
}

#box_8{
	padding:4vh;
	text-align: center;
	display: inline-block;
	border-left-style: dashed;
	border-right-style: dashed;
}

#box_9{
	padding:4vh;
	text-align: center;
	display:inline-block;
}

#key_box{
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
}

#message_1{
	font-size: 17vh;
    color: blue;
    text-align: center;
    position: absolute;
	left: 44%;
    top: 22%;
    right: 37%;
}

#message_2{
	font-size: 7vh;
    color: blue;
    text-align: center;
    position: absolute;
    left: 36%;
    top: 29%;

}

.x{
	background-image:url("/images/x.png");
	background-size:100%,100%;
	content:none;
	background-position: center;
	background-repeat:no-repeat;
	display: inline;
}

.o{
	background-image:url("/images/o.png");
	background-size:100%,100%;
	content:none;
	background-position: center;
	background-repeat:no-repeat;
	display: none;
}

#hidden{
	visibility:hidden;
}

footer{
		font-size:1vh;
		color:black;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		background-color: #efefef;
		text-align: center;
		border-style: double;
		border-width:1vh;
		border-radius:1vh;
		margin-left:25%;
		margin-right:25%;
}