header{
	font-size:12vh;
	color:purple;
	text-align:center;
	text-shadow: -4px -3px rgb(153, 185, 243);

}

body{
	align-content: center;
	background-image: url(/images/background.jpg);
	background-size:cover;
}

#fancy{
	text-align:center;
	font-size:5vh;
	color:plum;
	margin-top:5%;

}
#box{
	font-size:3vh;
	color:plum;
	background-color: rgba(242, 237, 216,0.36);
	border-style:double;
	border-color:rgb(153, 185, 243);
	padding:1vh;
	border-radius:3vh;
	margin-right:30%;
	margin-left:30%;
	margin-top:10%%;
	text-align:center;
}

#box2{
	
	background-color: rgba(242, 237, 216,0.36);
	border-style:double;
	border-color:rgb(153, 185, 243);
	padding:auto;
	border-radius:3vh;
	margin-right:10%;
	margin-left:10%;
	margin-top:10%%;
	text-align:center;
}

#words{
	font-size:5vh;
	color:plum;
}